form{
    background-color: #c7ffbe;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    align-items: center;
}

label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    width: 100%;
}

select{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    appearance: none;
}

button{
    padding: 10px 20px;
    font-size: 15px;
    background-color: #185a00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #dbffd7;
}