.alcoholCard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.alcohol-attendance-title{
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
    font-weight: 700;

}
.alcoholCard-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
    justify-items: center;
    padding: 0 10px;
}
.alcohol-card{
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 180px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer
}
.alcohol-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
.alcohol-avatar{
    width: 100%;
    height: 180px;
    object-fit: cover;

}
.alcohol-info{
    padding: 15px;
}
.alcohol-info h3{
    margin: 0;
    font-size: 1.2rem;
    color: #222;
}
.alcohol-info p{
    margin-top: 5px;
    font-size: 0.95rem;
    color: #666;
}